* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.todo-container {
    /* width: 380px; */
    padding: 40px 0px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

/* Input Row */
.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.input-row input {
    flex: 1;
    border: none;
    border-bottom: 2px solid #bbb;
    padding: 8px 4px;
    font-size: 15px;
    outline: none;
}

.add-btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #4b4b4b;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* Todo Items */
.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #dcdcdc;
    border-radius: 14px;
    padding: 14px 16px;
    margin-bottom: 14px;
}

.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.left input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #9e9e9e;
}

.delete {
    font-size: 22px;
    color: #444;
    cursor: pointer;
}

/* Footer */
.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #444;
}

.quote {
    margin-top: 10px;
    font-style: italic;
    color: #777;
    line-height: 1.5;
}

/* responsiveness */
@media (max-width: 600px){
    body{
        /* display: block; */
        padding: 50px 20px ;
    }
}

@media (max-width: 380px){
    body{
        width: 380px;
    }
}